@import url("./variables.css");



.btn-primary {
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border-color: transparent;
    padding: 23px 72px 24px 22px;
    justify-content: space-between;

}
.btn-group{
    height: 69px;
    width: 170px;
}
.btn-primary:active {
    border-color: transparent;

}

.btn-primary:hover,
.btn-primary:focus {
    border-color: transparent;
    background-color: inherit;
}

.btn {
    margin-right: 2%;
}

.dropdown-toggle::after {
    display: none;

}

.ingredients-tags {
    background-color: var(--background-btn-blue);
    


}

.ingredients-tags:hover,
.ingredients-tags:focus {
    background-color: var(--background-btn-blue);
}

.appliances-tags {
    background-color: var(--background-btn-green);

}

.appliances-tags:hover,
.appliances-tags:focus {
    background-color: var(--background-btn-green);

}

.ustensils-tags {
    background-color: var(--background-btn-red);

}

.ustensils-tags:hover,
.ustensils-tags:focus {
    background-color: var(--background-btn-red);

}

.ingredients-tags.active+.appliances-tags
{
    margin-left: 31.6rem;
}

.appliances-tags.active+.ustensils-tags{
    margin-left: 10.6rem;
}
.list-group{
    height: 397px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow-x: scroll;
}
.list-ingredients{
    width: 667px;
}
.list-appliances{
    width: 323px;
}
.list-ustensils{
    width: 323px;
}

.arrow-down {
    height: 9.880000114440955px;
    width: 16.00000000000006px;
    left: 24px;
    top: 20.546630859375px;
    border-radius: 0px;
    position: absolute;
    left: 75%;
    right: -25%;
    top: 47%;
    bottom: 4.92%;
    transform: rotate(-180deg);
}

.arrow-up {
    height: 9.880000114440955px;
    width: 16.00000000000006px;
    left: 24px;
    top: 20.546630859375px;
    border-radius: 0px;
    position: absolute;
    left: 95%;
    right: -35%;
    top: 5%;
    bottom: 4.92%;
    transform: rotate(0deg);
}

.dropdown-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

}

.form-control {
    width: 100%;
    background-color: transparent;
    height: auto;
    width: 45%;

    border: none;
    opacity: 0.5;
    position: absolute;
    top: 3%;
    left: -5px;

}

.dropdown {
    position: relative;
    left: 1%;
    width: 98%;
    flex-wrap: nowrap;
}

.dropdown-menu {
    appearance: none;
    position: absolute;
    left: -2%;
    top: -4%;
    color: white;
   
}

.dropdown-ingredients {
    background: var(--background-btn-blue);
}

.dropdown-appliances {
    background: var(--background-btn-green);
}

.dropdown-ustensils {
    background: var(--background-btn-red);
}

.active {
    position: relative;
}

a.list-group-item {
    font-size: 18px;
    color: white;
    line-height: 2.4rem;
    padding: 0;
    text-overflow: ellipsis;
    white-space: break-spaces;

}

.dropdown-menu input[type="text"]::placeholder {
    color: #fff;
    font-size: 18px;
}

.mb-2 {
    margin-bottom: 1.5rem !important;
}

.dropdown-menu-sm-size {
    height: 97px;
    width: 223px;
    left: 0px;
    top: 0px;
    border-radius: 5px;

}

input#inputButton {
    position: relative;
    background: transparent;
    border: none;
    color: white;
    width: 100%;
}

input#inputButton:visited,
input#inputButton:focus-visible {
    text-decoration: none;
    outline: none;
}

input#inputButton[type="text"]::placeholder {
    color: #fff;
}