@import url("./variables.css");



.btn-primary {
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border-color: transparent;
    padding: 23px 72px 24px 22px;
    justify-content: space-between;

}
.btn-group{
    height: 69px;
    width: 170px;
    left: 0px;
    top: 0px;
    display: inline-table;
  
}
.btn-primary:active {
    border-color: transparent;

}

.btn-primary:hover,
.btn-primary:focus {
    border-color: transparent;
    background-color: inherit;
}

.btn:focus{
    box-shadow: none;
}
.btn:hover{
    color: #fff;
}

.dropdown-toggle::after {
    display: none;

}

.ingredients-tags {
    background-color: var(--background-btn-blue);
}

.ingredients-tags:hover,
.ingredients-tags:focus {
    background-color: var(--background-btn-blue);
}

.appliances-tags {
    background-color: var(--background-btn-green);

}

.appliances-tags:hover,
.appliances-tags:focus {
    background-color: var(--background-btn-green);

}

.ustensils-tags {
    background-color: var(--background-btn-red);

}

.ustensils-tags:hover,
.ustensils-tags:focus {
    background-color: var(--background-btn-red);

}

.btn-group.ingredients.active+.btn-group
{
    margin-left: 19.8rem;
}

.btn-group.appliances.active+.btn-group{
    margin-left: 11.3rem;
}
.list-group{
    height: 397px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow-x: scroll;
}
.list-ingredients{
    width: 490px;
}
.list-appliances{
    width: 340px;
}
.list-ustensils{
    width: 340px;
}
.form-group label{
    height: 22px;
    width: 76px;
}
button span{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.arrow-down {
    height: 9.880000114440955px;
    width: 16.00000000000006px;
    border-radius: 0px;
    position: absolute;
    left: 75%;
    right: -25%;
    top: 45%;
    bottom: 4.92%;
    transform: rotate(-180deg);
}

.arrow-up {
    height: 9.880000114440955px;
    width: 16.00000000000006px;
    left: 24px;
    top: 20.546630859375px;
    border-radius: 0px;
    position: absolute;
    left: 93%;
    right: -35%;
    top: 7%;
    bottom: 4.92%;
    transform: rotate(0deg);
}

.dropdown-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

}

.form-control {
    width: 90%;
    background-color: transparent;
    height: auto;
    border: none;
    opacity: 0.5;
    position: absolute;
    top: 6%;
    left: 7px;
    padding: 0;

}
.form-control:focus{
    outline: 1px solid blue;
    color: #fff;
}
.dropdown {
    position: relative;
    width: 99%;
    flex-wrap: nowrap;
}

.dropdown-menu {
    appearance: none;
    position: absolute;
    top: -4%;
    color: white;
   
}

.dropdown-ingredients {
    background: var(--background-btn-blue);
}

.dropdown-appliances {
    background: var(--background-btn-green);
}

.dropdown-ustensils {
    background: var(--background-btn-red);
}

.active {
    position: relative;
}

a.list-group-item {
    font-size: 18px;
    color: white;
    line-height: 2.4rem;
    padding: 0;
    text-overflow: ellipsis;
    white-space: break-spaces;

}

.dropdown-menu input[type="text"]::placeholder {
    color: #fff;
    font-size: 18px;
}

.mb-2 {
    margin-bottom: 1.5rem !important;
}

.dropdown-menu-sm-size {
    height: 97px;
    width: 223px;
    left: 0px;
    top: 0px;
    border-radius: 5px;

}

input#inputButton {
    position: relative;
    background: transparent;
    border: none;
    color: white;
    width: 100%;
}

input#inputButton:visited,
input#inputButton:focus-visible {
    text-decoration: none;
    outline: none;
}

input#inputButton[type="text"]::placeholder {
    color: #fff;
}