@import url("./variables.css");



.btn-primary {
    position: relative;
    height: 69px;
    width: 170px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border-color: transparent;
    padding: 23px 72px 24px 22px;
    justify-content: space-between;

}

.btn-primary:hover,
.btn-primary:focus {
    border-color: transparent;

}

.btn {
    margin-right: 2%;
}

.dropdown-toggle::after {
    display: none;

}

.ingredient-tags {
    background-color: var(--background-btn-blue);

}

.ingredient-tags:hover,
.ingredient-tags:focus {
    background-color: var(--background-btn-blue);

}

.ustensils-tags {
    background-color: var(--background-btn-red);
}



.appliances-tags {
    background-color: var(--background-btn-green);
}



.list-group {
    height: 397px;
    width: 667px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.arrow-down {
    height: 9.880000114440955px;
    width: 16.00000000000006px;
    left: 24px;
    top: 20.546630859375px;
    border-radius: 0px;
    position: absolute;
    left: 75%;
    right: -25%;
    top: 47%;
    bottom: 4.92%;
    transform: rotate(-180deg);
}

.arrow-up {
    height: 9.880000114440955px;
    width: 16.00000000000006px;
    left: 24px;
    top: 20.546630859375px;
    border-radius: 0px;
    position: absolute;
    left: 95%;
    right: -35%;
    top: 5%;
    bottom: 4.92%;
    transform: rotate(0deg);
}

.dropdown-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

}

.form-control {
    width: 100%;
    background-color: transparent;
    height: auto;
    width: 45%;

    border: none;
    opacity: 0.5;
    position:absolute;
    top: 3%;
    left: -5px;

}
.dropdown{
    position: relative;
    top: 9%;
    left: 1%;
    width: 98%;
}
.dropdown-menu {
    appearance: none;
    position: absolute;
    left: -2%;
    top: -4%;
    background: var(--background-btn-blue);
    color: white;
}

a.list-group-item {
    font-size: 18px;
    color: white;
    line-height: 2.4rem;
    padding: 0;
    text-overflow: ellipsis;
    white-space: break-spaces;

}
.dropdown-menu input[type="text"]::placeholder {
    color: #fff;
    font-size: 18px;
  }
  .mb-2 {
    margin-bottom: 1.5rem!important;
}
.dropdown-menu-sm-size{
    height: 97px;
width: 223px;
left: 0px;
top: 0px;
border-radius: 5px;

}

input#inputButton {
    position: relative;
    background: transparent;
    border: none;
    color: white;
    width: 100%;
}
input#inputButton:visited, input#inputButton:focus-visible{
    text-decoration: none;
    outline: none;
}
input#inputButton[type="text"]::placeholder {
    color: #fff;
  }